
/* General settings for the image upload page */


.upload-image-page,
.upload-image-page * {
  box-sizing: border-box;
}
.upload-image-page {
  background: #ffffff;
  height: 2092px;
  position: relative;
  overflow: hidden;
}

a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }

/* footer section*/
.footer {
    background: #cdc1ff;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 1540px;
    height: 490px;
    position: absolute;
    left: 0px;
    top: 1612px;
    overflow: hidden;
  }

  
.star-img {
  width: 6.18%;
  height: 2.98%;
  position: absolute;
  right: 73.5%;
  left: 20.33%;
  bottom: 41.37%;
  top: 55.65%;
  transform: translate(-63.03px, -0.58px);
  overflow: visible;
}
.ellipse-gray {
  width: 269px;
  height: 272px;
  position: absolute;
  left: -120px;
  top: 648px;
  overflow: visible;
}
.star-img2 {
  width: 4.46%;
  height: 2.37%;
  position: absolute;
  right: 77.84%;
  left: 17.71%;
  bottom: 83.87%;
  top: 13.76%;
  overflow: visible;
}

.ellipse-pink {
    width: 205.1px;
    height: 217.98px;
    position: absolute;
    left: -132px;
    top: 903.54px;
    transform: translate(55px, -76.38px);
    overflow: visible;
 }

.star-img3 {
  width: 3.89%;
  height: 2.95%;
  position: absolute;
  right: 12.43%;
  left: 83.68%;
  bottom: 71.56%;
  top: 25.5%;
  overflow: visible;
}

/*section 1*/
.section {
  background: #f5efff;
  border-radius: 80px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 704px;
  height: 1279px;
  position: absolute;
  left: 387px;
  top: 190px;
  overflow: hidden;
}

/* Design for the send button */
.send-button {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 999px;
    border-style: solid;
    border-color: var(--black, #000000);
    border-width: 2px;
    padding: 24px 32px 24px 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 33px;
    position: absolute;
    left: 289px;
    top: 1130px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, background-color 0.4s ease; /* Smooth animations */
    cursor: pointer;
}
.send {
  color: #000000;
  font-family: Manuale-Medium, "sans-serif";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
  left: 13px;

}


/* Active state when clicked */
.send-button:active {
    background-color: rgba(233, 157, 222, 0.8); /* Dark green */
  }

/*radio-button*/
.radio-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 91px;
  height: 23px;
  position: absolute;
  left: 245px;
  top: 455px;
}
.checkbox-and-label {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.radio {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-full, 9999px);
  border-style: solid;
  border-color: var(--var-sds-color-border-brand-default, #2c2c2c);
  border-width: 1px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
}
.label {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, Inter-Regular, "sans-serif");
  font-size: var(--body-base-font-size, 20px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
}
.radio-field2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 91px;
  height: 23px;
  position: absolute;
  left: 388px;
  top: 455px;
}

/*.select skin tone*/
.select-skin-tone {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 474px;
  height: 80px;
  position: absolute;
  left: 122px;
  top: 305px;
}
.label2 {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, Inter-Regular, "sans-serif");
  font-size: var(--body-base-font-size, 18px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.select-1 {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-secondary, #757575);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 40px;
  min-width: 240px;
  position: relative;
  
}
.value-1 {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    Inter-Regular,
   "" sans-serif"
  );
  font-size: var(--single-line-body-base-font-size, 18px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  flex: 1;
}

.chevron-down2 {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
    
  }


/* Label style for select fields */
.label-1{
    color: var(--var-sds-color-text-default-default, #1e1e1e);
    text-align: left;
    font-family: var(--body-base-font-family, Inter-Regular, "sans-serif");
    font-size: var(--body-base-font-size, 18px);
    line-height: var(--body-base-line-height, 140%);
    font-weight: var(--body-base-font-weight, 400);
    position: relative;
    align-self: stretch;
    top: 972px;
    left: 130px;
    
  }
  
  /* Design for the select input field */
  .select {
    background: var(--var-sds-color-background-default-default, #ffffff);
    border-radius: var(--var-sds-size-radius-200, 8px);
    border-style: solid;
    border-color: var(--var-sds-color-border-default-default, #d9d9d9);
    border-width: 1px;
    padding: var(--var-sds-size-space-300, 12px)
      var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-300, 12px)
      var(--var-sds-size-space-400, 16px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    flex-shrink: 0;
    width: 445px;
    position: relative;
    border: 1px solid #d9d9d9;
    justify-content: space-between;
    cursor: pointer;
    top: 980px;
    left: 125px;

  }
  
  
  /* Style for the value inside the select input */
  .value {
    color: var(--var-sds-color-text-default-default, #1e1e1e);
    text-align: left;
    font-family: var(--body-base-font-family, Inter-Regular, "sans-serif");
    font-size: var(--single-line-body-base-font-size, 18px);
    line-height: var(--single-line-body-base-line-height, 100%);
    font-weight: var(--single-line-body-base-font-weight, 400);
    position: relative;
    flex: 1;
  }
  
/* Design for the upload uotfit section */
.upload-outfit {
  background: rgba(128, 128, 128, 0.49);
  border-radius: 50px;
  border-style: solid;
  border-color: #757575;
  border-width: 1px;
  opacity: 0.5;
  padding: 54px 0px 54px 0px;
  width: 332px;
  height: 214px;
  position: absolute;
  left: 186px;
  top: 68px;
}
.image {
 width: 60px;
 height: 53px;
  position: absolute;
  left: 137px;
  top: 83px;
  transform: translate(0px, -0.24px);
  overflow: visible;
}

/* Design for the upload face section */
.upload-your-face {
  color: #1e1e1e;
  text-align: center;
  font-family: Lusitana-Bold, "sans-serif";
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  opacity: 0.9;
  position: absolute;
  left: 280px;
  top: 613px;
  width: 153px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/*continue button*/
.plugin {
  background: rgba(117, 117, 117, 0.5);
  border-radius: 999px;
  padding: 24px 32px 24px 24px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 33px;
  position: absolute;
  left: 285px;
  top: 529px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.continue {
  color: #808080;
  font-family: "Manuale-Medium", sans-serif;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.01em;
  font-weight: 500;
  position: relative;
  left: 3px;
}

/* Design for the upload outfit section */
.upload-your-outfit {
  color: var(--black, #1a202c);
  text-align: center;
  font-family: Lusitana-Bold, "sans-serif";
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  opacity: 0.9;
  position: absolute;
  left: 245px;
  top: 8px;
  width: 188px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/*.choose-makeup-style*/
.select-makeup-type {
  color: #757575;
  text-align: left;
  font-family: var(--body-base-font-family, Inter-Regular, "sans-serif");
  font-size: var(--body-base-font-size, 18px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: absolute;
  left: 275px;
  top: 409px;
}
.upload-face {
  background: #ffffff;
  border-radius: 50px;
  border-style: solid;
  border-color: #cdc1ff;
  border-width: 1px;
  opacity: 0.5;
  padding: 54px 0px 54px 0px;
  width: 331.44px;
  height: 216.03px;
  position: absolute;
  left: 193px;
  top: 687.35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-0.233deg) scale(1, 1);
}
.image2 {
  width: 60px;
  height: 53px;
  position: absolute;
  left: 135.67px;
  top: 81.45px;
  transform: translate(0px, -0.24px);
  overflow: visible;
}
.or-you-can-select-face-shape {
  text-align: center;
  font-family: Lusitana-Bold, "sans-serif";
  font-size: 18px;
  line-height: 60px;
  font-weight: 700;
  opacity: 0.9;
  position: absolute;
  left: 234px;
  top: 928px;
  width: 259px;
  height: 49px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.or-you-can-select-face-shape-span {
  color: #000000;
  font-family: Lusitana-Bold , "sans-serif";
  font-size: 18px;
  line-height: 60px;
  font-weight: 700;
}


   /*preview-image*/
   .preview-image {
    max-width: 330%;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: block; 
    position: absolute; /* Position the element relative to the nearest positioned ancestor */
    top: 50%; /* Position the top 50% from the top of the container */
    left: 50%; /* Position the left 50% from the left side of the container */
    transform: translate(-50%, -50%); /* Adjust the image by -50% of its width and height to perfectly center it */
    image-rendering: auto;
    opacity: 1; 
    background: none;
  } 

/* Styling the image in the top bar */
.selected-option img {
    width: 50px; /* Enlarge the image in the top bar */
    height: 50px;
    border-radius: 50%; /* Circular image */
    margin-right: 10px;
    display: none; /* Hide the image initially */
  }
  
  /* Styling the dropdown menu */
  .face-shapes-options {
    display: none; /* Hide the dropdown menu initially */
    position: absolute;
    top: 55px; /* Adjust position to fit the larger size */
    left: 0;
    width: 445px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 980px;
    left: 125px;
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 15px; /* Increase the padding around the options */
    cursor: pointer;
    border-bottom: 1px solid #d1a1c7;
    height: 50px;
  }
  
  .option img {
    width: 40px; /* Enlarge the image in the dropdown */
    height: 40px;
    border-radius: 50%; /* Circular image */
    margin-right: 15px;
    top: 19px;
  }
  
  .option:hover {
    background-color: #e5b8f4c5; /* Add hover effect on the option */
   }

   .preview-image {
    display: block;  /* Ensure that the preview image is visible */
    max-width: 100%; /* Keep image size responsive */
    border-radius: 10px; /* Optional: Rounded corners */
}
